{% comment %}
    <!-- Bold: Memberships (manage memberships) -->
{% endcomment %}
<span class="note"><a href="/apps/memberships/accountDetails/?id={{customer.id}}&h={{bold_memberships_hash}}">Manage Memberships</a></span>
{% comment %}
    <!-- end Bold code -->
{% endcomment %}
