{% comment %}
    <!-- Start Bold:Memberships-->
{% endcomment %}

{% if customer %}
    <div class="bold_customer_id" hidden>{{ customer.id }}</div>
{% endif %}

{% comment %}
    <!-- End Bold:Memberships-->
{% endcomment %}
