<div id="easylockdown-password-form" style="display: none;">
<header class="section-header
    parallax-element
    section-header--image" style="background-image: url('//cdn.blendtec.com/images/blending101/login-header.png')">
    <div class="text-wrapper--center-cell text-max-width">
        <div class="text-wrapper--small text-center">
            <h1 class="section-header__title text-center"></h1>
        </div>
    </div>
</header>
  <div class="grid--product-wrapper">
    <div class="grid" style="max-width:950px;width:100%;padding:0px 15px 0px 15px;margin:auto;">
      <div class="grid__item large--one-half medium--one-half" style="margin-top:25px;">
        <div id="easylockdown-wrapper">
          {{ easylockdownPasswordNote }}
        </div>
      <div class="easylockdown-form-holder" style="width:100%;">
        <div id="easylockdown-password-error">Invalid password</div>
        <div style="width:100%;">
        <input style="width:100%;" type="password" placeholder="{{ easylockdownPasswordPlaceholder }}" id="easylockdown-password"
               onkeypress="if( event.keyCode == 13 && typeof easylockdown == 'object' && typeof easylockdown.checkUnlockPassword == 'function' ) { event.preventDefault(); easylockdown.checkUnlockPassword(this); }" />
        </div>
        <div style="float:left;margin-top:25px;">
        <a href="javascript:void(0);" class="btn btn--small" id="easylockdown-password-form-button" style="background-color: #ea002a;"
           onclick="if( typeof easylockdown == 'object' && typeof easylockdown.checkUnlockPassword == 'function' ) easylockdown.checkUnlockPassword(this);">
          Login
        </a>
        </div>
      </div>
      </div>
      <div class="grid__item large--one-half medium--one-half" style="margin-top:25px;">
        <img src="//cdn.blendtec.com/images/blending101/Ashley.png" style="width:100%;">
      </div>
    </div>
  </div>
</div>

<style>
  #easylockdown-password-form{
    padding-top:0px;
  }
.red-hr {
    border-color: #f41d2f;
    margin: 5px 0px 10px 0px;
    width: 50px;
    border-width: 3px 0 0;
}
</style>