{% assign alignmentCounter = 0 %}
<div class="grid">
  <div class="grid__item large--one-half medium--one-half tabs-margin-div">
    <h4 style="color:black;">FEATURES INCLUDE</h4>
    <hr class="red-hr">
    <ul>
    <li>
  	{{ product.metafields["global"]["Features-Include"] | replace: ",", "</li><li>" | replace: "|", "," }}
    </li>
  </ul>
  </div>
  {% if product.metafields['global']['Features-Include-Image'] %}
  <div class="grid__item large--one-half medium--one-half">
  	<img style="width:100%" src="https://s3.amazonaws.com/metafields.blendtec.com{{ product.metafields['global']['Features-Include-Image'] | remove: 'https://metafields.blendtec.com.s3.amazonaws.com' }}">
  </div>
  {% endif %}
</div>
{% assign Features_Sub_title = product.metafields['global']['Features-Sub1-title'] %}
{% assign Features_Sub_image = product.metafields['global']['Features-Sub1-image'] %}
{% assign Features_Sub_text = product.metafields["global"]["Features-Sub1-text"] %}

{% include 'features-sub' %}

{% assign Features_Sub_title = product.metafields['global']['Features-Sub2-title'] %}
{% assign Features_Sub_image = product.metafields['global']['Features-Sub2-image'] %}
{% assign Features_Sub_text = product.metafields["global"]["Features-Sub2-text"] %}

{% include 'features-sub' %}

{% assign Features_Sub_title = product.metafields['global']['Features-Sub3-title'] %}
{% assign Features_Sub_image = product.metafields['global']['Features-Sub3-image'] %}
{% assign Features_Sub_text = product.metafields["global"]["Features-Sub3-text"] %}

{% include 'features-sub' %}

{% assign Features_Sub_title = product.metafields['global']['Features-Sub4-title'] %}
{% assign Features_Sub_image = product.metafields['global']['Features-Sub4-image'] %}
{% assign Features_Sub_text = product.metafields["global"]["Features-Sub4-text"] %}

{% include 'features-sub' %}