.recipe-ingredients {
    ul {
        list-style: none;
        margin-left: 0px;
    }
    li {
        border-bottom-width: 1px;
        border-bottom-color: #ccc7c7;
        border-bottom-style: dotted;
    }
}