 <div class="btn ps-widget" 
       {% for variant in product.variants %}
       		ps-sku-{{ variant.id }}="{{variant.sku}}"
       {% if variant.selected %}
       ps-sku="{{variant.sku}}"
       {% endif %}
       {% endfor %}
       ></div>