{% assign alignmentCounter = 0 %}
<div class="grid">
  <div class="grid__item large--one-half medium--one-half">
    <h4>{{ 'products.product.features' | t }}</h4>
    <hr class="red-hr">
    <ul>
    <li>
  	{{ product.metafields["global"]["Features-Include"] | replace: ",", "</li><li>" | replace: "|", "," }}
    </li>
  </ul>
  </div>
  {% if product.metafields['global']['Features-Include-Image'] %}
  <div class="grid__item large--one-half medium--one-half">
  	<img style="width:100%" src="{{ settings['metafield_buckets'] }}{{ product.metafields['global']['Features-Include-Image'] | remove: settings['metafield_buckets_src'] }}">
  </div>
  {% endif %}
</div>
{% assign features_sub_title = product.metafields['global']['Features-Sub1-title'] %}
{% assign features_sub_image = product.metafields['global']['Features-Sub1-image'] %}
{% assign features_sub_text = product.metafields["global"]["Features-Sub1-text"] %}

{% include 'features-sub' %}

{% assign features_sub_title = product.metafields['global']['Features-Sub2-title'] %}
{% assign features_sub_image = product.metafields['global']['Features-Sub2-image'] %}
{% assign features_sub_text = product.metafields["global"]["Features-Sub2-text"] %}

{% include 'features-sub' %}

{% assign features_sub_title = product.metafields['global']['Features-Sub3-title'] %}
{% assign features_sub_image = product.metafields['global']['Features-Sub3-image'] %}
{% assign features_sub_text = product.metafields["global"]["Features-Sub3-text"] %}

{% include 'features-sub' %}

{% assign features_sub_title = product.metafields['global']['Features-Sub4-title'] %}
{% assign features_sub_image = product.metafields['global']['Features-Sub4-image'] %}
{% assign features_sub_text = product.metafields["global"]["Features-Sub4-text"] %}

{% include 'features-sub' %}