/*============================================================================
  #Product Page
==============================================================================*/
.product-single {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $colorBorder;
  }
  
  .product-pages {
  
    #PhotoContent { font-size: 0; }
  
    .product-options-height {
      height:125px;
    }
  
    .product-lightbox-button-open {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    .product-lightbox-button {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $colorBody;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
      border-radius: 50%;
  
      svg {
        display: block;
        color: $colorTextBody;
      }
  
      &.open {
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
  
        svg {
          width: 14px;
          height: 14px;
          margin: 8px;
        }
      }
  
      &.close {
        position: fixed;
  
        svg {
          width: 15px;
          height: 15px;
          margin: 20px 20px 18px;
          transition: color 0.2s ease;
        }
  
        &:hover svg {
          color: darken($colorTextBody, 15%);
        }
      }
    }
  
    .product-multiple__photos {
      display: inline-block;
      vertical-align: top;
      padding-right: 1px;
      max-height:700px;
      overflow-y:scroll;
    }
  
    .product-thumbnail-button {
      width: 100%;
      margin-bottom: 1px;
      border: 0;
      background-color: transparent;
      outline: 0;
  
      img { display: block; }
    }
  
    .product-lightbox {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: 9.8vw;
      padding-bottom: 9.8vw;
      visibility: hidden;
      opacity: 0;
      background-color: rgba($colorBody, 0.92);
      z-index: 100;
      transition: all 0.2s ease-out;
      overflow-y: auto;
  
      @include at-query($max, $medium) {
        display: none;
      }
  
      &.active {
        visibility: visible;
        opacity: 1;
      }
  
      img {
        display: block;.heavy {
          color: white;
          width: 100%;
          font-family: 'CooperHewitt-Bold';
          font-size:24px;
        }
        
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  
    .product-single__variants {
      display: none;
  
      .no-js & {
        display: block;
      }
    }
  
    .product-single__photos {
      position: relative;
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      font-size: $baseFontSize*2;
      max-height: 700px;
  
      &:hover .product-lightbox-button.open {
        visibility: visible;
        opacity: 1;
      }
  
      img {
        width: 100%;
        max-height:700px;
        max-width:700px;
      }
    }
    .tabs-wrapper {
  
      :focus {outline:none;}
      ::-moz-focus-inner {border:0;}
  
      margin:auto;
      width:95%;
      margin-bottom: 75px;
  
  
      #tabs {
        list-style:none;
        margin-bottom: 0px;
  
        li {
          display: inline-block;
          margin-left: 40px;
          padding: 0px 15px 0px 15px;
          margin-bottom:0px;
          @include at-query($max, $small) {
            display:block;
            margin: 10px 0px 0px 5px;
          }
        }
  
        .selected {
          border-bottom-color: $colorPrimary;
          border-bottom-style: solid;
  
          h5 {
            color: $colorPrimary;
          }
        }
      
      }
      
      .tab {
        padding: 5% 5% 0 5%;
        h4 {
          text-transform:uppercase;
        }
        ul {
          list-style: disc outside none;
          }
        }
      
    }
    
  
  
    .product-single__photos,
    .product-single__thumbnails {
      a, img {
        display: block;
        margin: 0 auto;
      }
  
      li {
        margin-bottom: $gutter;
      }
    }
  
    .quantity-wrapper {
      &, input {
        color: black; //A default set colour that merchant can't control, as requested from Shopify feedback.
      }
  
      position: relative;
      max-height: 3.1em;
      line-height: 3.1em;
      label {padding-left: 13px;}
  
      .lt-ie9 & {
        .quantity-selector {min-height: 25px;}
        label {margin-top: -8px;}
  
      }
  
    }
  
    .selector-wrapper {
      color: black; //A default set colour that merchant can't control, as requested from Shopify feedback.
      position: relative;
      background-color: white; //match the colour of unstyled inputs
  
      select {
        position: relative;
        z-index: 8;
      }
  
      .select-overlay {
        position: absolute;
        padding-left: 13px;
        height: 3.1em;
        line-height: 3.5em;
        @include at-query($min, $large){line-height: 3.2em;}
        z-index: 1;
        width: calc(100% - 10px);
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        .lt-ie9 & {display: none;}
      }
    }
  
    .product-selectors {
      margin: em(20px) 0 em(28px);
    }
  
    @include at-query($max, $medium){
      .fix-on-scroll--large-only{
        position: relative !important;
        transform: initial !important;
        @include transform('inital');
      }
    }
  
    .product-tab-wrapper {
      margin-left: 0;
      list-style: none;
      border-bottom: 1px solid $colorBorder;
  
      .rte > div { margin-bottom: 0; }
    }
  
    .product-tab {
      padding-top: 15px;
      border-top: 1px solid $colorBorder;
      overflow-y: hidden;
  
      #shareBox {
        height: 32px;
        margin-bottom: 0;
      }
  
      .product-tab-read-more {
        padding: 7px 10px 6px;
        margin-top: 15px;
        margin-bottom: 2px;
        margin-left: 2px;
        font-size: em(9px);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1.22;
        color: $colorTextBody;
        border-radius: 2px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.22);
  
        &:focus { outline: 0; }
      }
    }
  
    .product-tab-title {
      margin-bottom: 15px;
      font-size: em(14px);
      font-weight: 700;
  
      &:focus { outline: 0; }
  
      .product-tab:not(.active) & { color: $colorPrimary; }
    }
  
    .product-tab-content {
      margin-bottom: 15px;
      overflow-y: hidden;
      transition: all 0.1s ease;
  
      .product-tab.inactive & {
        height: 0 !important;
        margin-bottom: 0;
      }
    }
  
    .product-tab-content > div {
      position: relative;
      overflow-y: hidden;
      transition: all 0.1s ease;
  
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 200px;
        background: linear-gradient(rgba($colorBody, 0), $colorBody);
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s ease;
      }
  
      .product-tab.inactive & {
        height: 0 !important;
        margin-bottom: 0;
      }
  
      .product-tab.active &.truncated {
        height: 400px !important;
  
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  
  #shareBox {
  
    a {
      margin-right: 5px;
      font-size: em(18px);
  
      .icon { color: $colorPrimary !important; }
    }
  
    .facebook .icon {
      color: #225CAF;
    }
  
    .pinterest .icon {
      color: #BE0619;
    }
  
    .tumblr .icon {
      color: #35465c;
    }
  
    .twitter .icon {
      color: #55acee;
    }
  
    .google {
      color: #dc4a38;
    }
  }
  
  .margin-15 {
    margin-top: 15px;
  }
  
  #ProductPhotoSlideshow {
    position: relative;
    width: 100%;
    max-width:700px;
  
    &.slick-slider { margin-bottom: 0; }
  
    .slick-dots {
      top: auto;
      bottom: 0;
      margin-left: 0;
    }
  
    .slick-active button:before {
      opacity: 1;
    }
  }
  
  .active-option {
    border-color: red;
    border-style: solid;
    border-width: 2px;
  }
  
  #color-options {
  
    @extend .margin-15;
  
    .option {
      width:30px;
      height:30px;
      display:inline-block;
      cursor:pointer;
      padding: 2px 2px 2px 2px;
  
      .swatch {
        border: 1px solid grey;
        width:100%;
        height:100%;
      }
  
      .image {
        border-radius:100px;
        margin-bottom:2px;
      }
  
    }
  
    .selected {
      @extend .active-option;
      border-radius: 100px;
    }
  
    .option:hover {
      @extend .selected;
    }
  }
  
  #jar-options {
  
    min-height: 50px;
  
    .option {
      display:inline-block;
      cursor:pointer;
      padding: 2px 2px 2px 2px;
      min-height: 37px;
      min-width: 37px;
    }
  
    .selected {
      @extend .active-option;
      border-radius: 5px;
    }
  
    .option:hover {
      @extend .selected;
    }
  
  }
  
  
  .hr-darker {
    border-top-color:#8e8989;
  }
  
  
  #sidebarColumn {
  
    h1 {
      color: $colorPrimary;
    }
  
    .grid__item {
      margin-top: 15px;
    }
  }
  
  #AddToCartForm {
    .errors {
      margin-top: em(-15px);
      margin-bottom: em(25px);
    }
  }
  
  .js-fix-on-scroll--target {
    z-index: 1;
  }
  
  .product-related {
  
    h2 {
      margin-top: em(20px);
      margin-bottom: em(18px);
    }
  }
  
  // Create two separate columns
  //the height of .product-single is set via JS, necessary for these to work.
  
  .product-single {
    position: relative;
  }
  
  @include at-query($min, $medium + 1){
    #sidebarColumn {
      position: relative;
    }
  
    .sidebarColumn-inner {
      &.sticky {
        position: fixed;
        top: 0;
        width: 33.333%;
  
        @include at-query($max, $xxlarge) { width: 40%; }
        @include at-query($max, $xlarge) { width: 50%; }
      }
  
      &.sticky-bottom {
        position: absolute;
        top: auto;
        bottom: 0;
        width: 100% !important;
      }
    }
  }
  
  @include at-query($max, $medium){
    #sidebarColumn,
    .sidebarColumn-inner {
      height: auto !important;
    }
  }
  
  #sidebarColumn {
  
    &.sticky-top .sidebarColumn-inner,
    &.sticky-bottom .sidebarColumn-inner {
      position: fixed;
      right: -1px;
    }
  
    &.sticky-top .sidebarColumn-inner {
      top: 0;
    }
  
    &.sticky-bottom .sidebarColumn-inner {
      bottom: 0;
    }
  
    &.stuck .sidebarColumn-inner {
      position: absolute;
      bottom: 0;
      right: -1px;
    }
  }
  
  #sidebarColumn.has-sticky-header.sticky-top .sidebarColumn-inner {
    top: 90px;
  }