{% comment %}
  This story-grid is the heart and soul of the homepage.
  There are currently 2 different layouts, but it's intentionally extensible for future designs.
{% endcomment %}
<div style="padding: {{section.settings.padding}}px" class="grid--full grid--story" id="story-grid" data-section-id="{{ section.id }}" style="background-color:{{section.settings.background_color}};color:{{section.settings.text_color}};">
  {% for block in section.blocks limit: section.blocks.size %}
      {% assign imageCellWidth = 'half-half' %}
      {% assign textCellWidth = 'half-half' %}

      {% case block.settings.layout %}
        {% when 'one-two' %}
          {% assign imageCellWidth = 'one-third' %}
          {% assign textCellWidth = 'two-thirds' %}
        {% when 'two-one' %}
          {% assign imageCellWidth = 'two-thirds' %}
          {% assign textCellWidth = 'one-third' %}
      {% endcase %}

      {% case block.settings.image_position %}
        {% when 'left' %}
          {% include 'bt-grid__image' %}
          {% include 'bt-grid__text' %}
        {% when 'right' %}
          {% include 'bt-grid__text' %}
          {% include 'bt-grid__image' %}
      {% endcase %}
  {% endfor %}

</div>

<style>
  #story-grid .bt-grid__image.placeholder {
    background-color: #eee !important;
  }

  .bt-grid__text.layout-one-two + .bt-grid__item + .bt-grid__text.layout-one-two,
  .bt-grid__text.layout-two-one + .bt-grid__item + .bt-grid__text.layout-two-one,
  .bt-grid__text.layout-half-half + .bt-grid__item + .bt-grid__text.layout-half-half,
  #story-grid .bt-grid__item.has-border {
    border-top: 1px solid;
  }
</style>

{% schema %}
  {
    "name": "Padded Image with text",
    "max_blocks": 5,
    "class": "featured-content",
    "settings": [
      {
        "type": "color",
        "id": "header_color",
        "label": "Heading color",
        "default": "#232323"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#424242"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border color",
        "default": "#E2E2E2"
      },
      {
        "type": "range",
        "id": "padding",
        "label": "Padding",
		"min": 0,
		"max": 100,
        "default": 2
      }
    ],
    "blocks": [
      {
        "type": "content_block",
        "name": "Content",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Block image"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Image width",
            "options": [
              {
                "value": "one-two",
                "label": "30%"
              },
              {
                "value": "half-half",
                "label": "50%"
              },
              {
                "value": "two-one",
                "label": "70%"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "text",
            "id": "text_header",
            "label": "Heading text",
            "placeholder": "New Accessories for Spring\/Summer"
          },
          {
            "type": "richtext",
            "id": "text_body",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "button_cta",
            "label": "Button text",
            "placeholder": "Shop the Collection"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "border_override",
            "label": "Show top border",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Padded Image with text",
        "category": "Image",
        "settings": {
          "header_color": "#232323",
          "text_color": "#424242",
          "background_color": "#fff",
          "border_color": "#e2e2e2"
        },
        "blocks": [
          {
            "type": "content_block",
            "settings": {
              "layout": "two-one",
              "image_position": "left",
              "text_header": "Easy-Clean Jar",
              "text_body": "<p>Our patented, five-sided jar design automatically pulls ingredients toward the blade thanks to the unique square design that disrupts the blending flow. Instead of ingredients spinning around in a circle like they would in a round jar, they hit the flat side of the jar. Inertia then carries the fruit, ice, and anything else in the mix up the side of the jar until they reach the top of the mix. At this point, they turn around and head back down, right into the business end of the blades. No tamper needed..</p>",
              "button_cta": "Get Yours",
              "button_link": ""
            }
          },
          {
            "type": "content_block",
            "settings": {
              "layout": "two-one",
              "image_position": "right",
              "text_header": "Durable Safety Blade",
              "text_body": "<p>Blendtec blades are made of cold-forged hardened steel and are up to 80% thicker and 10 times stronger than other blender blades. They're also blunt instead of sharp. Why? With a blade that spins over 300 miles per hour, it doesn't need to be sharp to get the job done. Instead of chipping away at ice and frozen fruit with sharp edges, the large, blunt design pulverizes virtually anything. And it’s completely safe to clean, too.</p>",
              "button_cta": "Get Yours",
              "button_link": ""
            }
          },
          {
            "type": "content_block",
            "settings": {
              "layout": "two-one",
              "image_position": "left",
              "text_header": "Documentation",
              "text_body": "<p>Blendtec blenders feature modern touch controls that not only look great, but make everything from blending to cleanup easier than ever. No more baby-sitting your blender–create the perfect blends every time with a single touch. The sleek, flat design is also easy to clean.</p>",
              "button_cta": "Get Yours",
              "button_link": ""
            }
          }
        ]
      }
    ]
  }
{% endschema %}
