<div class="section-wrapper" {%if section.settings.background %}style="background-image: url({{section.settings.background | img_url: '1200x' }})"{% endif %}>
    <div class="grid brand-images">
        {% for slide in section.blocks limit: section.blocks.size %}
          <div class="partner grid__item large--one-eighth medium--one-eighth small--one-half">
            {% if slide.settings.empty_corporate_partner == false %}
           	  {% if slide.settings.link %}
           	    <a href="{{slide.settings.corporate_partners_link}}">
              {% endif %}
              <img class="brand-image" src="{{slide.settings.image | img_url: '100x' }}"/>
              {% if slide.settings.link %}
                </a>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name":"bt-testimonial-brands",
  "class":"partners",
  "max_blocks":8,
  "settings":[
     {
        "type":"image_picker",
        "id":"background",
        "label":"Section Background Image",
        "info":"This is the background image for the section"
     }
  ],
  "blocks":[
     {
        "type":"header",
        "name":"Corporate Partners",
        "settings":[
           {
              "type":"image_picker",
              "id":"image",
              "label":"Corporate Partners",
              "info":"Image showing the logo of one of Blendtec's corporate partners"
           },
           {
              "type":"url",
              "id":"link",
              "label":"Link to corporate partner"
           }
        ]
     }
  ],
  "presets":[
     {
        "name":"bt-testimonial-brands",
        "category":"Image"
     }
  ]
}
{% endschema %}


