.bt-featured-collection {
    .bottom-blenders-wrapper {
        width: 80%;
        margin-left: 10%;
    }

    hr {
        width: 80%;
        margin-left: 10%;
        border-color: #d5d5d5;
        opacity: 0.65;
    }

    .description-text {
        color: white;
        margin-top: 15px;
    }

    .bt-featured-collection {
        background-color: black;
    }

    .btn {
        margin-top: 1rem;
    }
}
