.review-carousel {
    .reviews-wrapper {
        min-height: 375px;
        padding-top: 80px;
    }

    .slider-wrapper {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
}
