.static-hero {
	height:500px;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	h2 {
		font-family: 'CooperHewitt-Bold';
	}
	.top-margin {
		margin-top: 25%;
	}
	.button-margin {
		margin-top: 5%; 
		a {
	    	padding: 10px 35px !important;
	    	font-family: 'CooperHewitt-Light' !important;
		}
	}
}